//output: 05_register.html
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no")
    title Offer Detail
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="css/main.nested.css")  

  body

    section.menu-mobile
      div.back-button
        svg.back-arrow(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 50" style="enable-background:new 0 0 75 50;" xml:space="preserve")
          path(d="M3,23h69c1.1,0,2,0.9,2,2v0c0,1.1-0.9,2-2,2H3c-1.1,0-2-0.9-2-2v0C1,23.9,1.9,23,3,23z")
          path(d="M4,23.2l10.5,6.1c1,0.5,1.3,1.8,0.7,2.7l0,0c-0.5,1-1.8,1.3-2.7,0.7L2,26.7c-1-0.6-1.3-1.8-0.7-2.7l0,0C1.8,23,3.1,22.7,4,23.2z")
          path(d="M2,23.3l10.5-6.1c1-0.6,2.2-0.2,2.7,0.7l0,0c0.5,1,0.2,2.2-0.7,2.7L4,26.8c-1,0.6-2.2,0.2-2.7-0.7l0,0C0.7,25.1,1.1,23.9,2,23.3z")

      div.menu-mobile-content
        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-retail-light.svg")
          div.cat-text-field.inline
            div.cat-name Retail
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-fitness-light.svg")
          div.cat-text-field.inline
            div.cat-name Fitness
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-er-light.svg")
          div.cat-text-field.inline
            div.cat-name Emergency Service
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-entertainment-light.svg")
          div.cat-text-field.inline
            div.cat-name Entertainment
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-homeimprovement-light.svg")
          div.cat-text-field.inline
            div.cat-name Home Improvement
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-nhoguide-light.svg")
          div.cat-text-field.inline
            div.cat-name NHO Guide
            div.cat-count (26)

    header
      div.container
        div.row
          div.col
            img.hamburger(src="svg/icon-hamburger.svg")
            img.logo(src="svg/logo.svg")
            nav
              //- a  how it works
              //- a  get an invitation code
              //- a  log in
              a.nav-profile  jay engstrom
                span (5)
              a.nav-favorite  my favorite offers
    
    section.header-shift
    
    section.register-wrapper.container.top-buffer
    
      div.user-switch
        div.row
          div.col
            div.user-register.col I HAVE AN ACCOUNT
          div.col  
            div.user-login.col I AM A NEW USER
    
      
      div.teal__large-opensans Welcome! Start saving and enjoy your favorite offers.
    
      //either turn this off (I HAVE AN ACCOUNT)
      div.box-register.top-buffer-sm
        div.row
          div.col
            form.form-animated
              legend.top-buffer-sm
                div.form-input
                  input(type="email" id="email" required)
                  label(for="email") Email
                  div.valid 
                    div.checkmark
                  div.form-msg Please enter a valid email address
                  
                  
                div.form-input
                  input(type="password" id="pw" required placeholder=" " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}")
                  label(for="pw") Password
                  div.valid 
                    div.checkmark
                  div.form-msg Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.
                  
                  
                //- div.form-input
                //-   input(type="password" id="pw-verify" required)
                //-   label(for="pw-verify") Verify Password
                  
                
                div.form-input
                  input(type="text" id="firstname" required)
                  label(for="firstname") First Name
                  div.valid
                    div.checkmark
                  div.form-msg Hello! whoever that is :)
                  
                
                div.form-input
                  input(type="text" id="lastname" required)
                  label(for="lastname") Last Name
                  div.valid 
                    div.checkmark
                  div.form-msg Can I just call you darling
                  
                
                div.form-input
                  input(type="text" id="street" required)
                  label(for="street") Street
                  
                
                //- div.form-input
                //-   input(type="text" id="city")
                //-   label(for="city") City
                
                //- 
                //- div.form-input
                //-   input(type="text" id="state")
                //-   label(for="state") State
              
                
                div.form-input
                  input(type="text" id="zipcode" required)
                  label(for="zipcode") Zipcode
                  
                
                div.form-input
                  input(type="text" id="cell" required)
                  label(for="cell") Cellphone Number                
                  span.teal-1 * The best way to always have your offers with you
          
              legend.top-buffer-sm
                input(type="checkbox" checked)
                | Yes, I want to recieve my offers via text
                br
                input(type="checkbox" checked)
                | Keep me Informed about the deals
                
                button.btn-action.btn-2 create account
                
                p.account-reminder.top-buffer-sm By creating an account, you agree to NHO’s 
                  a.teal-1(href="") Terms of Use 
                  | and 
                  a.teal-1(href="") Privacy Notice
                
      //or turn this off (I AM A NEW USER - CREATE AACOUNT)          
      //- div.box-signin.top-buffer-sm
        div.row
          div.col
            form.form-animated
              
              div.form-input
                input(type="email" id="email-login" required)
                label(for="email-login") Email
                
              
              div.form-input
                input(type="password" id="pw-login" required)
                label(for="pw-login") Password
            
              button.btn-action.btn-2 Log in
              
              a.teal-1(href="") Forgot your password? 
              
      //or turn this off (I AM A NEW USER - CREATE AACOUNT)  
      div.box-enterCode.top-buffer-sm
        div.row
          div.col
            form.form-regular
              input.form--invitation(type="text" required)
              input.form--invitation(type="submit" value="submit")
              br
              a.teal-1 Get Invitation Codes
              
            
      div.row-socialLogin.row.top-buffer-sm              
        button.btn-action.btn-blue.btn-google.googleBtn 
          i.btn-google__icon
            img(src="svg/app-google.svg")
          span.btn-google__title Sign up with Google
    


    
    
    footer.top-buffer
      div.container
        div.row.justify-content-center
          div.col
            div.footer-link
              a Privacy
              a Terms of Use
              a FAQ
              a Contact Us
            div.footer-copywrite Copyright 2017 DBM Group. All Rights Reserved.
            


  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
            
  script(src="script/main.js")
