//output: 08_redeemMobile.html
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no")
    title Offer Detail
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="css/main.nested.css")  

  body

    //- insert snackbar here
    section.notice
      div.container
        div.row
          div.col
            h4 Save Successfuly! 
            p.notice-description Don't forget to redeem the offer!
            button.btn-action.btn-3.btn-200 browse more offers
            button.btn-action.btn-3.btn-200 see my favorites
            div.btn-exit
              img(src="svg/icon-x-2.svg")  
  
  


    section.menu-mobile
      div.back-button
        svg.back-arrow(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 50" style="enable-background:new 0 0 75 50;" xml:space="preserve")
          path(d="M3,23h69c1.1,0,2,0.9,2,2v0c0,1.1-0.9,2-2,2H3c-1.1,0-2-0.9-2-2v0C1,23.9,1.9,23,3,23z")
          path(d="M4,23.2l10.5,6.1c1,0.5,1.3,1.8,0.7,2.7l0,0c-0.5,1-1.8,1.3-2.7,0.7L2,26.7c-1-0.6-1.3-1.8-0.7-2.7l0,0C1.8,23,3.1,22.7,4,23.2z")
          path(d="M2,23.3l10.5-6.1c1-0.6,2.2-0.2,2.7,0.7l0,0c0.5,1,0.2,2.2-0.7,2.7L4,26.8c-1,0.6-2.2,0.2-2.7-0.7l0,0C0.7,25.1,1.1,23.9,2,23.3z")

      div.menu-mobile-content
        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-retail-light.svg")
          div.cat-text-field.inline
            div.cat-name Retail
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-fitness-light.svg")
          div.cat-text-field.inline
            div.cat-name Fitness
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-er-light.svg")
          div.cat-text-field.inline
            div.cat-name Emergency Service
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-entertainment-light.svg")
          div.cat-text-field.inline
            div.cat-name Entertainment
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-homeimprovement-light.svg")
          div.cat-text-field.inline
            div.cat-name Home Improvement
            div.cat-count (26)

        div.cat-wrapper
          img.icon-cat-mobile(src="svg/icon-cat-nhoguide-light.svg")
          div.cat-text-field.inline
            div.cat-name NHO Guide
            div.cat-count (26)

    header
      div.container
        div.row
          div.col
            img.hamburger(src="svg/icon-hamburger.svg")
            img.logo(src="svg/logo.svg")          
            nav
              //- a  how it works
              //- a  get an invitation code
              //- a  log in
              a.nav-profile  jay engstrom
                span (5)
              a.nav-favorite  my favorite offers
      
    // fill up 80px header's height        
    section.header-shift  
    
    
    // screen section 5.1 (see redeem flow chart)
    section.redeem-wrapper.top-buffer-xs
      div.container
        div.row.justify-content-center.align-items-center
          div.col-lg-4.col-md-6.col-sm-12.col-xs-12
            div.redeem-box
              img.redeem-logo.top-buffer-xs(src="image/retailLogo-nobu.png")
              img.redeem-image.top-buffer-xs(src="image/offer-image-nobu2.png")
              h5 $25 off 
              h6 your total bill, lets see it when this get extended to two lines 
              
              //- div.redeem-geo.top-buffer-xs
              //-   div.geo-city Costa Mesa,
              //-     span.geo-state  CA
              //-   div.geo-mile 1.1 miles
              
              div.geo-location.top-buffer-xs
                div.geo-location__icon
                  div.padding-left--small
                    span.geo-location__city Costa Mesa,
                    span.geo-location__state CA
                div.geo-location__mile 1.1 miles
                
              button.btn-action.btn-3 direction
              button.btn-action.btn-1 ready to redeem
              
              div.redeem-code.top-buffer-xs
                span.code-title NHO Codes:
                span.code-digit LXKC213
              
              div.detail-restric.top-buffer-xs
                div.restric-title Deal Restrictions
                p Must be used during displayed time frame. Deals cannot be combined with other deals or subsutituted
                p.expire.top-buffer-xs Expiration Date:
                  span  01/16/2017
              
                
    // screen section 5.2 - Modal(need HTML mockup in dev server)            
                
    // screen section 5.3 (see redeem flow chart)        
    section.redeem-wrapper.top-buffer-xs
      div.container
        div.row.justify-content-center.align-items-center
          div.col-lg-4.col-md-6.col-sm-12.col-xs-12
            div.redeem-box
              img.redeem-logo.top-buffer-xs(src="image/retailLogo-nobu.png")
              h5 $25 off 
              h6 your total bill, lets see it when this get extended to two lines 
              
              div.redeem-code 
                span.code-title NHO Codes:
                span.code-digit LXKC213

              button.btn-action.btn-1 redeemed
              
              div.explore-offer.top-buffer-xs
                span 
                  a.teal-1(href="#") Find More Offers
                span NHOO.COM
              
              
    // screen section 5.4 button disabled (see redeem flow chart)        
    section.redeem-wrapper.top-buffer-xs
      div.container
        div.row.justify-content-center.align-items-center
          div.col-lg-4.col-md-6.col-sm-12.col-xs-12
            div.redeem-box
              img.redeem-logo.top-buffer-xs(src="image/retailLogo-nobu.png")
              h5 $25 off 
              h6 your total bill, lets see it when this get extended to two lines 
              
              div.redeem-code 
                span.code-title NHO Codes:
                span.code-digit LXKC213

              button(disabled="disabled").btn-action.btn-1 redeemed
              
              div.explore-offer.top-buffer-xs
                span 
                  a.teal-1(href="#") Find More Offers
                span NHOO.COM
    
            
            
          
        

    
    footer.top-buffer
      div.container
        div.row.justify-content-center
          div.col
            div.footer-link
              a Privacy
              a Terms of Use
              a FAQ
              a Contact Us
            div.footer-copywrite Copyright 2017 DBM Group. All Rights Reserved.




  //JQuery        
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  //Slick Carousel
  script(type="text/javascript" src="slick/slick.min.js")
  //custom javascript by Dylan (for clicking events)
  script(src="script/main.js")
