//output: base.html
doctype html
html(lang="en")
  head
    title Page Title
    //- <!-- Required meta tags -->
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no")
    
    //- <!-- Bootstrap CSS Grid System ONLY -->
    //- link(rel="stylesheet" type="text/css" href="css/bootstrap.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    //- <!-- Costom CSS -->
    link(rel="stylesheet" type="text/css" href="css/main.nested.css")  
  body
          
    //- header
    //-   div.container
    //-     div.row
    //-       div.col
    //-         img.hamburger(src="svg/icon-hamburger.svg")
    //-         img.logo(src="svg/logo.svg")
    //-         nav
    //-           a  how it works
    //-           a  get an invitation code
    //-           a  log in
    //-           //- a.nav-profile  jay engstrom
    //-           //-   span (5)
    //-           //- a.nav-favorite  my favorite offers
    //-           
    //- div.header-shift
      
    div.container
      div.row
        div.col supp
        div.col notmuch
      div.row
        div.col-lg-6 hate
        div.col-lg-6 love
        
    
    
    
  //- <!-- Optional JavaScript -->
  //- <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
