//output: styleGuide.html
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    link(rel="stylesheet" type="text/css" href="css/normalize.css")
    link(rel="stylesheet" type="text/css" href="css/main.min.css")
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  
  body(style="padding: 5em") 
    
    h1 heading one
    h2 heading two
    h3 Header Three
    
    div
      span.bold This is what a BOLD reading text looks like
      p Lorem ipsum dolor sit amet, ut illum mentitum vix, esse facer veritus qui in, sed ne erant tempor tincidunt. Cetero deseruisse philosophia ut sed, vim enim recusabo eu. Pro et harum similique theophrastus. Partem commune vituperata ei vis. (949)-234-7786
    
    a Hyperlinks
    
    button.btn-1 button one
    button.btn-2 button two
    button.btn-3 button three
    
    form.form-animated
      div.form-input
        label Email
        input(type="email")
    

    div.offer-block(style="margin-top: 50px")

    
    script(src="script/main.js")
